<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Edit Credential</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">
    <div class="form-group">
        <label><a th:href="@{/home}">Back to Home Page</a></label>
    </div>
    <h1 class="display-5">Edit Credential</h1>
    <form action="#" th:object="${credential}" th:action="@{/home/update-credential}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUrlField">Url</label>
                <input th:field="*{url}" type="input" name="url" class="form-control" id="inputUrlField"
                       placeholder="Enter Url" maxlength="20" required/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUsernameField">Url</label>
                <input th:field="*{username}" type="input" name="username" class="form-control" id="inputUsernameField"
                       placeholder="Enter Url" maxlength="20" required/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputKeyField">Url</label>
                <input th:field="*{key}" type="input" name="key" class="form-control" id="inputKeyField"
                       placeholder="Enter Url" maxlength="20" required/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPasswordField">Url</label>
                <input th:field="*{password}" type="input" name="password" class="form-control" id="inputPasswordField"
                       placeholder="Enter Url" maxlength="20" required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>